* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

body {
    max-width: 100%;
    margin-inline: auto;
    background-color: #EBEAE2;
}

/* utility style */
.hero_title {
    font-size: 5rem;
}

.large_text {
    font-size: x-large;
}


/* arrow */
.parentLine {
    height: 1px;
    width: 40px;
    background-color: black;

    position: relative;
    left: 0;
    transition: all .3s;
}

.sTopLine {
    height: 1px;
    width: 15px;
    background-color: black;

    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s;
}

.sBottomLine {
    height: 1px;
    width: 15px;
    background-color: black;

    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s;
}

.btn_container:hover .sTopLine {
    transform-origin: right;
    transform: rotate(40deg);
    transition: all .3s;

}

.btn_container:hover .sBottomLine {
    transform-origin: right;
    transform: rotate(-40deg);
    transition: all .3s;
}

.btn_container:hover .parentLine {
    left: 3%;
    transition: all .3s;
}
/* navigation bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15%;
    border-bottom: 1px solid black;
}

.nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7%;
    width: 55%;
}


.btn_container {
    border-left: 1px solid black;
    padding: 4.5% 0;
    flex-grow: 1;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10%;
    margin-left: 10%;
}

/* hero section */

#hero_section {
    width: 95%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 10%;

    padding-top: 8%;
    padding-bottom: 15%;
}

#hero_section  main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

    gap: 30px;
    margin-left: 3%;
}

#hero_section aside img {   
    height:500px;
    object-fit: contain;

    border-radius: 50% 50% 0 0;
}

#hero_section button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;

    width: 220px;
    height: 50px;
    padding: 7% 5%;
    font-size: 1rem;
    background-color: black;
    color: white;
}

#hero_section button div {
    background-color: white;
}


/* achievement grid */
#achievement .grid_items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border: 1px solid black;

}

#achievement .grid_items h2 {
    font-size: 3rem;
}
#achievement .grid_items h3 {
    margin-bottom: 10%;
}

