:root {
  --btn-color: #333333;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
}

body {
  max-width: 100%;
  margin-inline: auto;
  background-color: #ebeae2;
}

/* utility style */
.hero_title {
  font-size: 3.7rem;
}

.large_text {
  font-size: x-large;
}

.xlarge_text {
  font-size: 2.3rem;
}

.large_parag {
  font-size: 1.3rem;
}

.medium_prag {
  font-size: 1rem;
  line-height: 2;
}

/* arrow */
.parentLine {
  height: 1px;
  width: 40px;
  background-color: black;

  position: relative;
  left: 0;
  transition: all 0.3s;
}

.sTopLine {
  height: 1px;
  width: 15px;
  background-color: black;

  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
}

.sBottomLine {
  height: 1px;
  width: 15px;
  background-color: black;

  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s;
}

.btn_container:hover .sTopLine {
  transform-origin: right;
  transform: rotate(40deg);
  transition: all 0.3s;
}

.btn_container:hover .sBottomLine {
  transform-origin: right;
  transform: rotate(-40deg);
  transition: all 0.3s;
}

.btn_container:hover .parentLine {
  left: 3%;
  transition: all 0.3s;
}
/* navigation bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15%;
  border-bottom: 1px solid black;
}

.nav_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6%;
  width: 55%;
}

.btn_container {
  border-left: 1px solid black;
  padding: 4% 0;
  flex-grow: 1;
}

.btn {
  display: flex;
  align-items: center;
  gap: 10%;
  margin-left: 10%;
}

/* hero section */

#hero_section {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
}

#hero_section main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;

  gap: 20px;
  margin-left: 3%;
  padding-top: 15%;
  padding-bottom: 15%;
}

#hero_section aside img {
  width: 550px;
  height: 600px;
  object-fit: cover;

  border-radius: 50% 50% 0 0;
}

#hero_section button,
#about_us_section button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;

  width: 220px;
  height: 50px;
  padding: 7% 5%;
  font-size: 1rem;
  background-color: var(--btn-color);
  color: white;
}

#hero_section button div,
#about_us_section button div {
  background-color: white;
}

/* achievement grid */
#achievement .grid_items {
  display: flex;
}

#achievement .grid_items h2 {
  font-size: 3rem;
}
#achievement .grid_items h3 {
  margin-bottom: 30%;
}

#achievement .grid_item p {
  line-height: 2;
}
.grid_item {
  border: 1px solid black;
}
.grid_item {
  padding: 10% 0;
  padding-inline: 1.5%;
}

.grid_item:first-child {
  padding-left: 8%;
  border-right: none;
}

.grid_item:last-child {
  padding-right: 8%;
  border-left: none;
}

.grid_item:nth-child(2) {
  border-right: none;
}

/* explore_shop_by_category */
#explore_shop_by_category {
  width: 90%;
  margin-inline: auto;

  margin-top: 10%;
  text-align: center;
}
.explore_shop_by_category_title {
  margin-bottom: 5%;
}
.explore_shop_by_category_title h2 {
  margin-bottom: 2%;
}

/* card grid */
.card_grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 3%;
  column-gap: 2%;
}

.card {
  display: flex;
  align-items: center;
  gap: 10%;
  padding: 8% 10%;
  background-color: #e4e2d3;
}

.card .card_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;

  gap: 50px;
}

.card_left p {
  text-align: start;
}
.card img {
  margin-top: 0;
  height: 100%;
  width: 200px;
  object-fit: cover;
  border-radius: 50% 50% 0 0;
}

.explorePage_btn {
  margin-top: 5%;
  background-color: var(--btn-color);
  margin-inline: auto;
}

#explore_shop_by_category button {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 220px;
  height: 50px;
  font-size: 1rem;

  color: white;
  padding: 2% 0;
}

#explore_shop_by_category button div {
  background-color: white;
}

/* about us section */
#about_us_section {
  margin-top: 10%;
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  gap: 8%;
}
#about_us_section header {
  padding-top: 10%;
}
#about_us_section img {
  width: 500px;
  height: 1000px;
  object-fit: cover;
}

#about_us_section header h2 {
  margin-bottom: 8%;
}

#about_us_section header p {
  line-height: 1.5;
  margin-bottom: 8%;
}
#about_us_section main h4 {
  margin-bottom: 5%;
}
#about_us_section main ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  width: 56%;
  margin-bottom: 5%;
}

#about_us_section main ul li {
  border-bottom: 1px solid black;
  padding: 5% 8% 5% 0;
}
#about_us_section .btn_container {
  padding: 2%;
}
/* quote section */
#quote_background {
  background-color: #e4e2d3;
  position: absolute;
  width: 100%;
  height: 170%;

  z-index: -1;

  top: 500%;
  left: 0;
}

#quote_section {
  max-width: 90%;
  margin-inline: auto;
  margin-top: 5%;
}

#quote_section h2 {
  margin-bottom: 3%;
}

#quote_section main {
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
}

#quote_section main .right_aside p {
  margin-top: 3%;
  width: 70%;
  font-size: 1.2rem;
  line-height: 2;
}
#quote_section main .our_showreel {
  width: 250px;
  margin-bottom: 10%;
  margin-top: 30%;
  font-size: 2rem;
  transform: rotate(10deg);
}

.arrow-image {
  margin-left: 30%;
}

#quote_section main .right_aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
